{#- jinja2: lstrip_blocks: true, trim_blocks: true -#}
# {{ ansible_managed }}

{% for format_name, format_lines in nginx_static_log_format.items() %}
log_format  {{ format_name }}  '{{ format_lines[0] }}'
{% for line in format_lines[1:] %}
                    '{{ line }}'
{% endfor %}                      ;
{% endfor %}

access_log  {{ nginx_static_access_log }}  {{ nginx_static_log_format.keys() | first }};
error_log   {{ nginx_static_error_log }};

{% if nginx_static_file_servers %}
# Static file server configurations
include {{ nginx_service_config_path }}/static.d/*.conf;
{% endif %}
